.registerSalesForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 30px;
}

label {
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: flex-end;
}