.registerSalesForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 30px;
}

main {
    display: flex;
    justify-content: center;
}

.radio-full-form {
    display: flex;
    text-align: left;
    border-radius: 5px;
    flex-direction: column;
    padding: 10px 0 20px 20px;
    border: 1px solid #ced4da;
}

label {
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: flex-end;
}